.Dashboard{
     display:flex;
     width:100%;
     justify-content: space-between;
     flex-direction: column;
     padding:2px;
     align-items: center;

}
.WalletCardDashboard{
     object-fit: contain;
    margin: auto;
    align-items: center;
    padding:30px;
       
}
.NavBodyDashboard{
    align-items: center;
    text-decoration: none;
    text-align: center;
   margin-bottom: 40px;

}

.flexWalletCard{
    display:flex;
    width:84rem;
    
    overflow-y: scroll;
}
@media only screen and (max-width: 1399px){
    .flexWalletCard{
        width: 24rem;
    }
}