.Dashboard{
     display:flex;
     width:100%;
     justify-content: space-between;
     flex-direction: column;
     padding:2px;
     align-items: center;

}
.WalletCardDashboard{
     object-fit: contain;
    margin: auto;
    align-items: center;
       
}
.NavBodyDashboard{
    align-items: center;
    text-decoration: none;
    text-align: center;
   margin-bottom: 40px;

}
.items{
    border:1px solid red;
}